<link href="css/blog.css" rel="stylesheet">
<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-bar">Blog</div>
        </div>
    </div>
    <div class="row">
        <div class="row"  ng-repeat="row in rows">
            <div class="col-sm-4" ng-repeat="animate in row">
                <a href="#/blogDetails/{{animate._id}}">
                    <div class="article">
                        <h4>{{animate.title}}</h4>
                        <img ng-src="{{animate.image}}">
                        <p ng-bind-html="animate.content | trustHtml" style="max-height: 200px;overflow: hidden;" ></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>